html {
    background-color: #616161;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
  }
  
  #collection-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 79px;
    font-size: 120%;
    line-height: 160%;
    font-weight:200;
  }
  
  #collection-list li {
    display: flex;
    margin: 3%;
    padding: 10px;
    align-items: center;
    
    border-radius: 80px;
    background-color: #a1a1a1;
  }
  
  #collection-list li img {
    max-width: 300px;
    margin-right: 5%;
  }
   
  #collection-list li p {
    margin: 0;
  }
  