/* Font */

@font-face {
    font-family: 'BIOS';
    src: url('../../assets/fonts/Web437_IBM_BIOS.woff') format('woff'),
    url('../../assets/fonts/Ac437_IBM_BIOS.ttf') format('ttf');
}

/* Page */

html {
    font-family: 'BIOS';
    background-color: black;
    color: white;
    font-size: 17px;
    margin: 2%;
}

body {
    margin: 0.5%;
}

section {
  }

  article {
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    
  }

  article:nth-of-type(2) {
  }

  
p {
  text-align: center;
}

.mid {
  margin: 37% 1% 0%;
}

.hidden {
  display: none;
}

.knob {
  position: absolute;
  margin: 10%;
  font-size: 700%;
}

#chat {
  margin: 2%;
  overflow-y: scroll
}