/* Font */

@font-face {
    font-family: 'Outward';
    src: url('fonts/outward-block-webfont.woff') format('woff');
}


@font-face {
    font-family: 'Outward-Border';
    src: url('fonts/outward-borders-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Outward-Round';
    src: url('fonts/outward-round-webfont.woff') format('woff');
}

/* Page */

html {
    font-family: 'Outward';
    background-color: black;
    color: white;
    font-size: 100px;
    margin: 1%;
}

.wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .links {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.4;
  }
  
  h1 {
    font-family: 'Outward';
    margin: 2vw 0 -1.2vw;
    font-weight: 300;
    font-size: 30vw;
    text-align: left;
    line-height:20vw;

    border-bottom: 2px solid #333;
    color: white;
  }

  h2 {
    margin: 11vw 0 0vw 0;
    border-bottom: 2px solid #333;
  }
  
  h3 {
    margin: 5vw 0 2vw 0;
    border-bottom: 2px solid #333;
  }

  a {
    text-decoration: none;
    font-size: 9vw;
    letter-spacing: 0.2vw;
    border-bottom: 1px solid;
    margin-bottom: 36px;
    
    color: yellowgreen;
  }
  
  a:hover {
    border-bottom: 1px dotted;
    font-size: 10vw;
    color: yellow;
    transition: 300ms ease-out;
  }