/* Font */

@font-face {
  font-family: 'BIOS';
  src: url('../../../assets/fonts/Web437_IBM_BIOS.woff') format('woff'),
    url('../../../assets/fonts/Ac437_IBM_BIOS.ttf') format('ttf');
}

/* Page */

html {
  font-family: 'BIOS';
  background-color: black;
  color: white;
  font-size: 17px;
  margin: 2%;
}

article {
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

h1 {
  font-size: 30px;
  color: red;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

p {
  text-align: center;
  line-height: 180%;
}

#door {
  transform-origin: 0;
  transition: transform 50ms 50ms ease-in-out;
}

#door:hover {
  transform: rotateY(30deg);
  transition: transform 200ms ease-in-out;
}

.mid {
  margin: 24rem 1rem 0rem 1rem;
}

.chat {
  padding: 1rem 0;
  position: fixed;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background-color: #222;
}

.chat p {
  text-align: left;
  margin: 0 0.5rem;
}

@media (max-width:700px) {
  article {
    flex-direction: column;
    justify-content: flex-start;
  }

  .mid {
    margin: 0;
  }

  #door,
  #door2 {
    margin: 0 20%;
  }

  #door {
    margin-top: 10%;
    
    margin-bottom: 10%;
  }

  .chat {
    font-size: 15px;
  }
}