
/* Font */

@font-face {
    font-family: 'BIOS';
    src: url('../../assets/fonts/Web437_IBM_BIOS.woff') format('woff'),
    url('../../assets/fonts/Ac437_IBM_BIOS.ttf') format('ttf');
}

/* Page */

html {
    font-family: 'BIOS';
    background-color: black;
    color: white;
    font-size: 17px;
}

body {
    margin: 0.5%;
}

section {
    display: flex;
  }

/* Borders */

h1 {
    border-bottom: 5px dashed white;
  }

article {
    flex: 1;
    padding: 0px;
    margin: 0px;

    border-top: 5px dashed white;
    border-bottom: 5px dashed white;
  }

  article:nth-of-type(1) 
  div:nth-child(3), 
  div:nth-child(4) {
    position: relative;
    bottom: 0px;
    border-top: 5px dashed white;
  }

  article:nth-of-type(1)
  div:nth-child(4) {
    margin-bottom: 0;
  }

  article:nth-of-type(2) {
    border-left: 5px dashed white;
  }

  article:nth-of-type(2) div:first-child {
    border-bottom: 5px dashed white;
  }

  /* Text Deco */

h1 {
    margin:0px;
    font-size: 300%;
    line-height: 260%;
    color: white;

    text-align: center;
}

p {
    margin: 20px 30px;
    max-width: 90%;
    line-height: 180%;
}

/* Links */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background: linear-gradient(270deg, red, yellow, #6bf51d, deepskyblue, magenta);
    background-size: 1000% 1000%;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: slideBackground 2s ease infinite;
    -moz-animation: slideBackground 2s ease infinite;
    animation: slideBackground 2s ease infinite;
}

/* ?!.:' */

.space {
    margin: 100px 10px;
    line-height: 150%;
    text-align: center;
    font-size: 1000%;
}

article:nth-of-type(1)
div:nth-child(2):hover {
  background: linear-gradient(270deg, red, yellow, #6bf51d, deepskyblue, magenta);
  background-size: 1000% 1000%;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: slideBackground 2s ease infinite;
  -moz-animation: slideBackground 2s ease infinite;
  animation: slideBackground 2s ease infinite;
}

/* Mobile */

@media (max-width:1000px) {
  section {
    flex-direction: column;
  }

  article:nth-of-type(2) {
    border-top: 0px;
    border-left: 0px;
  }
}

/* Webkits */

@-webkit-keyframes slideBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes slideBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes slideBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}