
/* Font */

@font-face {
    font-family: 'BIOS';
    src: url('fonts/Web437_IBM_BIOS.woff') format('woff'),
        url('fonts/Ac437_IBM_BIOS.ttf') format('ttf')
}

/* Page */

html {
    font-family: 'BIOS';
    background-color: black;
    color: white;
    font-size: 17px;
}

body {
    margin: 0.5%;
}

section {
    display: flex;
  }

h1 {
    margin:0px;
    font-size: 300%;
    line-height: 260%;
    color: white;

    text-align: center;

    border-bottom: 5px dashed white;
  }

article {
    flex: 1;
    padding: 0px;
    margin: 0px;

    border-top: 5px dashed white;
    border-bottom: 5px dashed white;
  }

  article:nth-of-type(1) 
  div:nth-child(3), 
  div:nth-child(4) {
    position: relative;
    bottom: 0px;
    border-top: 5px dashed white;
  }

  article:nth-of-type(1)
  div:nth-child(4) {
    margin-bottom: 0;
  }

  article:nth-of-type(2) {
    border-left: 5px dashed white;
  }

  article:nth-of-type(2) div:first-child {
    border-bottom: 5px dashed white;
  }

p {
    margin: 20px 30px;
    max-width: 90%;
    line-height: 180%;

}

a {
    text-decoration: none;
    color: white;
}

.space {
    margin: 300px 10px;
    text-align: center;
    font-size: 400%;
}

