
/* Font */

@font-face {
    font-family: 'BIOS';
    src: url('fonts/Web437_IBM_BIOS.woff') format('woff'),
        url('fonts/Ac437_IBM_BIOS.ttf') format('ttf')
}

/* Page */

html {
    font-family: 'BIOS';
    background-color: black;
    color: white;
    font-size: 17px;
}

body {
    margin: 0.5%;
}

h1 {
    margin:0px;
    font-size: 300%;
    line-height: 250%;
    color: white;

    text-align: center;

    border-bottom: 5px dashed white;
  }

article {
    padding: 0px;
    margin: 0px;

    border-top: 5px dashed white;
    border-bottom: 5px dashed white;
  }

  article:nth-of-type(2) {
    border-left: 5px dashed white;
  }

  article:nth-of-type(3) div:first-child {
    border-bottom: 5px dashed white;
  }

p {
    margin: 20px 30px;
    max-width: 90%;
    line-height: 200%;

}

a {
    text-decoration: none;
    color: white;
}

.space {
    margin: 200px 10px;
    text-align: center;
    font-size: 400%;
}

  /* Flex */

  section {
    display: flex;
  }

  article {
    flex: 1 200px;
  }

  article:nth-of-type(3) {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
  }

  article:nth-of-type(3) div:first-child {
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }