
/* Font */

@font-face {
    font-family: 'BIOS';
    src: url('../../assets/fonts/Web437_IBM_BIOS.woff') format('woff'),
    url('../../assets/fonts/Ac437_IBM_BIOS.ttf') format('ttf');
}

/* Page */

html {
    font-family: 'BIOS';
    background-color: white;
    color: black;
    font-size: 30px;
}

h1 {
  margin: 0 2em;
  line-height: 2em;
  font-size: 400px;
}
h2 {
  margin: 0 2em;
  font-size: 400px;
}

#typewriter-box {
    font-family: 'BIOS';
    color: black;
    line-height: 180%;
    width: 100%;
    margin:0;
  }
  
  .typewriter-letter {
    animation: fadeIn 30ms calc(calc(1ms * var(--delay)) * var(--pos)) ease-in forwards;
    opacity:0.01;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
  }
  
  @media (max-width:700px) {
    article {
      flex-direction: column;
      justify-content: flex-start;
    }
    h1 {
      font-size: 400px;
      margin: 0;
    }    
    h2 {
      font-size: 140px;
      margin: 0;
    }
    #typewriter-box {
    }
    
  }