/* Font */

@font-face {
  font-family: 'BIOS';
  src: url('../../assets/fonts/Web437_IBM_BIOS.woff') format('woff'),
    url('../../assets/fonts/Ac437_IBM_BIOS.ttf') format('ttf');
}

/* Page */

html {
  font-family: 'BIOS';
  background-color: black;
  color: white;
  font-size: 17px;
}


h1 {
  position: relative;
  z-index: 2;
  font-size: 30px;
  color: red;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

p {
  text-align: center;
  margin: 2em;
  line-height: 180%;
}

#door {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 28em;
  transform-origin: 0;
  transition: transform 50ms 50ms ease-in-out;
}

#door:hover {
  transform: rotateY(30deg);
  transition: transform 200ms ease-in-out;
}

#typewriter-box {
  font-size: 20px;
  position: relative;
  z-index: 1;
  font-family: 'BIOS';
  color: white;
  line-height: 200%;
  width: 100%;
  margin: 0;
}

.typewriter-letter {
  animation: fadeIn 30ms calc(calc(1ms * var(--delay)) * var(--pos)) ease-in forwards;
  opacity: 0.01;
}

.chat {
  z-index: 4;
  padding: 1rem 0;
  position: fixed;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;

  background-color: #222;
}

.chat p {
  text-align: left;
  margin: 0 0.5rem;
  line-height: 130%;
}

.back {
  text-align: left;
  z-index: 0;
  position: fixed;
  color: #0d0d0d;
  top: -2em;
  left: -2em;
  font-size: 150px;
  line-height: 1.5em;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:700px) {
  article {
    flex-direction: column;
    justify-content: flex-start;
  }
  .chat {
    font-size: 15px;
  }
  #typewriter-box {
    font-size: 15px;
  }
  #door {
    margin: 0 6em;
  }
}