html {
  background-color: #05386B;
  color: #EDF5E1;
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --bg-color: #05386B;
  --text-color: #EDF5E1;
  --accent-color: #5CDB95;
}

#svg-map {
  fill: var(--text-color);  
  margin: 2em auto;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

body {    
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

article {
  position: relative;
  
}

article:nth-of-type(2) {
  background-color: var(--accent-color); 
  box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 1%;
}

article:nth-of-type(4) {
  background-color: var(--bg-color);
  box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.3);
}

img {
  display: block;
  position: relative;
  width: 100%;
  margin: 1em auto;
  ;
}

a {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

h1 {
  margin: 1% 0 0;
  text-align: center;
  font-weight: bolder;
  font-size: 80px;
}

h2 {
  margin: 0;
}

.text {
  margin: 1em 4em;
  font-weight: 400;
}

/*Bar*/

.bar {
  position: relative;
  bottom: 0;
  margin: AUTO;
  padding: 0.5%;
  text-align: center;
  background-color: var(--bg-color);
}

.bar2 {
  position: relative;
  top: 7px;
  padding: .7em;
  text-align: center;
  background-color: var(--bg-color);
}

/*Button*/

button {
  background-color: var(--bg-color);
  border: none;
  color: var(--text-color);
  border-style: solid;
  border-color: var(--text-color);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 0em 0.5em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

button a {
  color: var(--text-color);
  text-decoration: none;
}

button a:hover {
  color: var(--bg-color);
  text-decoration: none;
}

/*PNG Icons*/
.object1 {
  top: 65%;
  right: 9%;
}

.object2 {
  top: 58%;
  right: 11%;
}

.object3 {
  top: 59%;
  right: 8%;
}

.object4 {
  top: 42%;
  right: 17%;
}

.object5 {
  top: 36%;
  right: 36%;
}

.object6 {
  top: 31%;
  right: 50%;
}

.object7 {
  top: 28%;
  right: 4%;
}

.object8 {
  top: 63%;
  right: 78%;
}

.object9 {
  top: 62%;
  right: 12%;
}

.object10 {
  top: 29%;
  right: 12%;
}

.object11 {
  top: 33%;
  right: 4%;
}

.object12 {
  top: 66%;
  right: 76%;
}

.object13 {
  top: 20%;
  right: 48%;
}

.object14 {
  top: 20%;
  right: 76%;
}

.object15 {
  top: 8%;
  right: 47%;
}

.object16 {
  top: 67%;
  right: 11%;
}

.object17 {
  top: 21%;
  right: 44%;
}

.object18 {
  top: 52%;
  right: 77%;
}

.object19 {
  top: 41%;
  right: 79%;
}

.object20 {
  top: 35%;
  right: 14%;
}

.object21 {
  top: 20%;
  right: 46%;
}

.object22 {
  top: 78%;
  right: 0%;
}

.object23 {
  top: 26%;
  right: 46%;
}

.object24 {
  top: 20%;
  right: 89%;
}

.object25 {
  top: 33%;
  right: 10%;
}

.object26 {
  top: 27%;
  right: 77%;
}

.object27 {
  top: 38%;
  right: 11%;
}

.object28 {
  top: 39%;
  right: 86%;
}

.object29 {
  top: 37%;
  right: 32%;
}

.object1,
.object2,
.object3,
.object4,
.object5,
.object6,
.object7,
.object8,
.object9,
.object10,
.object11,
.object12,
.object13,
.object14,
.object15,
.object16,
.object17,
.object18,
.object19,
.object20,
.object21,
.object22,
.object23,
.object24,
.object25,
.object26,
.object27,
.object28,
.object29 {
  display: inline-block;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.object1 img,
.object2 img,
.object3 img,
.object4 img,
.object5 img,
.object6 img,
.object7 img,
.object8 img,
.object9 img,
.object10 img,
.object11 img,
.object12 img,
.object13 img,
.object14 img,
.object15 img,
.object16 img,
.object17 img,
.object18 img,
.object19 img,
.object20 img,
.object21 img,
.object22 img,
.object23 img,
.object24 img,
.object25 img,
.object26 img,
.object27 img,
.object28 img,
.object29 img {
  display: block;
  width: 40px;
  height: auto;
  z-index: 1;
  filter: grayscale(1);
  transition: transform 0.3s ease-in-out;
}

.object1 img:hover,
.object2 img:hover,
.object3 img:hover,
.object4 img:hover,
.object5 img:hover,
.object6 img:hover,
.object7 img:hover,
.object8 img:hover,
.object9 img:hover,
.object10 img:hover,
.object11 img:hover,
.object12 img:hover,
.object13 img:hover,
.object14 img:hover,
.object15 img:hover,
.object16 img:hover,
.object17 img:hover,
.object18 img:hover,
.object19 img:hover,
.object20 img:hover,
.object21 img:hover,
.object22 img:hover,
.object23 img:hover,
.object24 img:hover,
.object25 img:hover,
.object26 img:hover,
.object27 img:hover,
.object28 img:hover,
.object29 img:hover {
  z-index: 4;
  transform: scale(5);
  filter: grayscale(0)
}

.image-text {
  position: fixed;
  top: 75%;
  right: 20%;
  color: var(--bg-color);
  font-size: 70px;
  background-color: var(--text-color);
  text-align: center;
  opacity: 0;
  z-index: 7;
  transition: opacity 0.2s ease-in-out;
}


.object1:hover .image-text,
.object2:hover .image-text,
.object3:hover .image-text,
.object4:hover .image-text,
.object5:hover .image-text,
.object6:hover .image-text,
.object7:hover .image-text,
.object8:hover .image-text,
.object9:hover .image-text,
.object10:hover .image-text,
.object11:hover .image-text,
.object12:hover .image-text,
.object13:hover .image-text,
.object14:hover .image-text,
.object15:hover .image-text,
.object16:hover .image-text,
.object17:hover .image-text,
.object18:hover .image-text,
.object19:hover .image-text,
.object20:hover .image-text,
.object21:hover .image-text,
.object22:hover .image-text,
.object23:hover .image-text,
.object24:hover .image-text,
.object25:hover .image-text,
.object26:hover .image-text,
.object27:hover .image-text,
.object28:hover .image-text,
.object29:hover .image-text{
  opacity: 1;
}

/* collection */
#collection-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 4% 2%;
  padding: 50px;

  font-family: 'Josefin Sans', sans-serif;
  color: var(--bg-color);
  font-size: 200%;
  font-weight: 500;
  line-height: 160%;

  list-style-type: none;
  overflow-y: scroll;
  height: 400px;

  background-color: var(--accent-color);
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

#collection-list li {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;

  font-size: 80%;
  border-radius: 20px;
  background-color: var(--text-color); 
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.3);

  max-height: 500px;
}

#collection-list li img {
}

#collection-list li p {
  display: block;
}

.hide {
  display: none;
}


/*Media Responsive*/
@media (max-width:1800px) {
  #collection-list {
    display: flex;
    flex-wrap: wrap;

    padding: 10px;
    height: 600px;
  }

  #collection-list li {
    margin: 3px;
    width: 46%;
    height: 550px;
  }

  #collection-list li img {
    max-width: 30%;
    margin: 2% 6%;
  }

  #collection-list li p {
    font-size: 90%;
    line-height: 180%;
    margin: 1em;
  }
} 

@media (max-width:1200px) {
  #collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 10px;
    height: 800px;

  }

  #collection-list li {
    margin: 3px;
    width: 49%;
    height: auto;
  }

  #collection-list li img {
    max-width: 30%;
    margin: 2% 6%;
  }

  #collection-list li p {
    font-size: 70%;
    line-height: 180%;
    margin: 1em;
    display: block;
  }
}


@media (max-width:900px) {
  #collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 10px;
    height: 920px;
  }

  #collection-list li {
    margin: 3px;
    width: 49%
  }

  #collection-list li img {
    max-width: 30%;
    margin: 2% 6%;
  }

  #collection-list li p {
    font-size: 55%;
    line-height: 160%;
    margin: 1em;
  }
}

@media (max-width:700px) {

  article:nth-of-type(2) {
    display: none;
  }

  h1 {
    font-size: 60px;
    margin: 0.5em;
  }

  .map {
    display: none;
  }

  #collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 10px;
    height: 920px;
  }

  #collection-list li {
    margin: 3px;
    width: 100%;
    max-height: 18%;
  }

  #collection-list li img {
    max-width: 25%;
    margin: 2% 6%;
  }

  #collection-list li p {
    font-size: 55%;
    line-height: 160%;
    margin: 0 2em;
  }

  #toggle-overflow {
    display: none;
  }
}
