
/* Font */

@font-face {
    font-family: 'BIOS';
    src: url('../../assets/fonts/Web437_IBM_BIOS.woff') format('woff'),
    url('../../assets/fonts/Ac437_IBM_BIOS.ttf') format('ttf');
}

/* Page */

html {
    font-family: 'BIOS';
    background-color: black;
    color: white;
    font-size: 17px;
}

#typewriter-box {
    font-family: 'BIOS';
    color: white;
    line-height: 180%;
    width: 100%;
    margin: 0;
  }
  
  .typewriter-letter {
    animation: fadeIn 30ms calc(calc(1ms * var(--delay)) * var(--pos)) ease-in forwards;
    opacity:0.01;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
  }
  