* {
	box-sizing: border-box;
}

body {
	background: black;
	margin: 0;
}

.canvas {
	max-width: 900px;
	height: 550px;
	margin: 100px auto;
	position: relative;

	background-color: #4E4D48;
}


/* Table */

.table {
	position: relative;
	width: 640px;
	height: 230px;
	left: 70px;
	top: 320px;

	background: linear-gradient(171.93deg, #9E9FA3 35.67%, rgba(158, 159, 163, 0));
	transform: skew(-15deg,-11deg) rotate(10.88deg);
}

/* Lamp */

.stem {
	position: absolute;
	width: 72px;
	height: 187px;
	left: 432px;
	top: 208px;

	background: linear-gradient(180deg, #FFECBC 0%, #F3EFE4 49.73%);
}

.head {
	position: absolute;
	width: 148px;
	height: 86px;
	left: 395px;
	top: 138px;

	background: linear-gradient(0deg, #C1BDB2 -8.72%, #6C695F 113.37%);
	border-radius: 35px 35px 0px 0px;
}

.light {
	position: absolute;
	width: 530px;
	height: 70px;
	left: 150px;
	top: 360px;

	background: rgba(255, 229, 160, 0.50);
	border-radius: 40px;
	filter: blur(15px);
}


/* Tape */

.circle {
	position: absolute;
	width: 130px;
	height: 130px;
	left: 480px;
	top: 260px;

	background: #2C2B3B;
	border-radius: 100px;
	clip-path: inset(40px 70px);
}

.ring {
	box-sizing: border-box;

	position: absolute;
	width: 114px;
	height: 114px;
	left: 480px;
	top: 270px;

	border: 30px solid #2C2B3B;
	border-radius: 100px;
}


/* 8 Ball */

.ball {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 190px;
	top: 220px;

	background: radial-gradient(62.83% 62.83% at 25% 37.17%, #241d38 0%, #171323 100%);
	border-radius: 100px;
}

.innerball {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 46px;
	top: 37px;

	background: #cfcfd0;
	border-radius: 100px;
}

.number {
	position: absolute;
	font-size: 40px;
	left: 72px;
	top: 50px;
}