#typewriter-box {
    color: white;
    background-color: black;
    width: 12em;
    font-family: sans-serif;
    padding: 1rem;
    margin:auto;
  }
  
  .typewriter-letter {
    animation: fadeIn 30ms calc(calc(1ms * var(--delay)) * var(--pos)) ease-in forwards;
    opacity:0.1;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
  }