html {
  background-color: #2F8BA6;
  color: #EDF5E1;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

.block {
  position: relative;
  padding: 3em 0;

  color: #2F8BA6;
  background-color: #EDF5E1;
}

/** Section 1 **/
.bar1 {
  width: 100%;
  margin: 1em 0 0 0;
  border-bottom: solid 5px #F89E11;
}

.logo {
  margin: 0em 1em 0.5em;
  width: 7%;
}

.dna {
  width: 100%;
  max-height: 550px;
  filter: blur(2px);
  object-fit: cover;
}

.chat {
  background-color: rgb(47, 139, 166, 56%);
  position: absolute;
  top: 100px;

  margin: 2em 7em;
  padding: 3em;
  border-radius: 3em;

  font-size: 20px;
  text-align: center;
  line-height: 25px;
  z-index: 2;
}

.semi1 {
  position: absolute;
  top: 20%;

  height: 30px;
  width: 60px;
  border-radius: 150px 150px 0 0;
  background-color: #F89E11;

  z-index: 1;
}

.semi2 {
  position: absolute;
  top: 63.5%;

  height: 30px;
  width: 60px;
  border-radius: 0 0 150px 150px;
  background-color: #F89E11;

  z-index: 1;
}


/** Section 2 **/
.circle1 {
  position: relative;
  margin: 2.5em;

  height: 40px;
  width: 40px;
  border-radius: 150px;
  background-color: #F89E11;

  z-index: 1;
  animation: constant 1.5s ease infinite alternate;
}

@keyframes constant {
  0% {
    top: -10px;
  }

  100% {
    top: 70px;
  }
}

.circle2 {
  position: relative;
  margin: 3em 0 6em;
  height: 80px;
  width: 80px;
  border-radius: 150px;
  background-color: #F89E11;
  align-self: center;

  animation: constant 1.5s ease infinite alternate;
}

.circle3 {
  position: relative;
  margin: 2em;

  height: 130px;
  width: 130px;
  border-radius: 150px;
  background-color: #F89E11;
}

.circle3 p {
  position: absolute;
  bottom: 30px;
}

h2 {
  color: #F89E11;
  font-size: 500px;
  margin: 50px;
  line-height: 80%;
}

.fact p {
  margin: 2em 4em;
  font-size: 35px;
}

/** Graph **/
ul.diseases {
  position: relative;
  background-color: #2f8aa6b0;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

ul.diseases li {
  margin: 20px;
  padding: 15px;
  position: relative;
  background-color: #EDF5E1;
  color: #2F8BA6;
  border-radius: 30px;
  font-size: 17px;
  list-style: none;
  text-align: center;
}

ul.diseases li.disease-header {
  margin: 10px;
  color: #EDF5E1;
  font-size: 28px;
  background-color: transparent;
}

/* blue circle */
.circle.blue {
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5ACAE3;
}

/* orange circle */
ul.diseases:before {
  content: '';
  position: absolute;
  top: -15px;
  left: calc(50% - 17px);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #F89E11;
}

/** Section 3 **/

h3 {
  margin: 0;
  font-size: 200px;
  font-weight: 600;
  text-align: center;
}


h4 {
  margin: 0;
  font-size: 150px;
  font-weight: 600;
  text-align: center;
}

#count {
  margin: 0;
  font-size: 310px;
  font-weight: 600;
  text-align: center;
}

.fifty {
  font-size: 100px;
  font-weight: 700;
}

/* Pi Chart */
.chart {
  position: relative;
  margin-bottom: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #F89E11;
}

.slice {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.female {
  clip: rect(0, 150px, 300px, 0);
  background: #F89E11;
  transform: rotate(0.5turn);
}

.male {
  clip: rect(0, 150px, 300px, 0);
  background: #5ACAE3;
  transform: rotate(-0.50turn);
  animation: rotate 3s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-0.50turn);
  }

  100% {
    transform: rotate(0.50turn);
  }
}


.key {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  bottom: 30px;
  left: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.female-key {
  margin-top: 10px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background: #F89E11;
  border-radius: 20px;
}

.male-key {
  margin-top: 15px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background: #5ACAE3;
  border-radius: 20px;
}

/* Facts */

.chat1 {
  background-color: rgba(187, 230, 243, 0.445);

  margin: 2em 7em;
  padding: 3em;
  border-radius: 3em;

  font-size: 20px;
  text-align: center;
  line-height: 25px;
}

/* Back to Top Button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 25px;
  width: 35px;
  height: 35px;

  background-color: orange;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #EDF5E1;
  z-index: 9;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #EDF5E1;
  color: #F89E11;
  border: solid 3px #F89E11;
}

#scrollbtn {
  display: none;
  position: fixed;
  bottom: 48%;
  right: 25px;
  width: 35px;
  height: 35px;

  background-color: orange;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #EDF5E1;
  z-index: 9;
  cursor: pointer;
}

#scrollbtn:hover {
  background-color: #EDF5E1;
  color: #F89E11;
  border: solid 3px #F89E11;
}

/* Bar Graph */

.bar {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  font-weight: bold;
}

.label {
  margin: 5px;
  flex-grow: 2px;
  text-align: center;
  font-size: 20px;
}

.value {
  display: inline-block;
  padding: 20px;
  background-color: #F89E11;
  color: #EDF5E1;
  text-align: center;
  border-radius: 40px;
  animation: expand 4s ease-in-out infinite;
}

.white .value {
  width: calc(324927 / 1000 * 2.2%);
}

.hispanic .value {
  width: calc(128287 / 1000 * 4%);
}

.black .value {
  width: calc(183378 / 1000 * 4%);
}

.asian .value {
  width: calc(48462 / 1000 * 2%);
}

.other .value {
  width: calc(3121 / 1000 * 2.2%);
}

.unknown .value {
  width: calc(9182 / 1000 * 2.2%);
}

@keyframes expand {
  from {
    width: 0
  }

  to {
    width: calc();
  }
}

.fact2 p {
  margin: 4em 7em 2em;
  font-size: 20px;
}

/** Death **/
.gradient {
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(158, 2, 11));
  width: auto;
  height: 1500px;
}

.death {
  background-color: #9E020B;
  color: #1E1E1E;
}

.death ul.diseases {
  position: relative;
  background-color: #1e1e1e81;
}

#counte {
  margin: 0;
  font-size: 310px;
  font-weight: 600;
  text-align: center;
}
 
.circle4 {
  position: relative;
  margin: 3em 0 6em;
  height: 80px;
  width: 80px;
  border-radius: 150px;
  background-color: #ddd;
  align-self: center;

  animation: constant 1.5s ease infinite alternate;
}

.circle5 {
  position: relative;
  margin: 2.5em;

  height: 40px;
  width: 40px;
  border-radius: 150px;
  background-color: #DDD;

  z-index: 1;
  animation: constant 1.5s ease infinite alternate;
}

/**container**/
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background-color: #9E020B;
  color: #ddd;
}

th,
td {
  text-align: left;
  margin: 1em;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-family: 'Lato', sans-serif;
}

th {
  background-color: #1E1E1E;
  color: #ddd;
}

tr:hover {
  background-color: #b6060e;
}

tr:nth-child(even) {
  background-color: #700000;
}

label {
  margin-left: 10px;
  font-size: 20px;
  color: #ccc
}

select {
  padding: 5px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-left: 10px;
}

